# SPDX-FileCopyrightText: 2025 CyberSport Masters <git@csmpro.ru>
# SPDX-License-Identifier: AGPL-3.0-only

services:
  backend:
    image: git.in.csmpro.ru/csmpro/csm-mapban/backend:latest
    ports:
      - 1703:4000
    environment:
      - FRONTEND_URL=http://localhost:1702
    restart: unless-stopped

  frontend:
    image: git.in.csmpro.ru/csmpro/csm-mapban/frontend:latest
    ports:
      - 1702:3000
    depends_on:
      - backend
